{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {erlang_h2, {git, "https://github.com/benoitc/erlang_h2.git", {branch, "main"}}},
    {quic, {git, "https://github.com/benoitc/erlang_quic.git", {branch, "main"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/benoitc/erlang-webtransport">>}
]}.
